.cart__group {
  position: relative;
}

.cart__button {
  font-size: 11px;
  padding: 10px;
  background-color: unset;
  color: var(--grey-600);
}

.cart__button:hover {
  cursor: pointer;
  color: var(--grey-900);
}

.cartButtonActive {
  border: 1px solid var(--grey-400);
  background: var(--grey-000);
  position: relative;
  border-bottom-color: white;
  margin-bottom: -2px;
  z-index: 2;
}
.cart__wrapper {
  position: absolute;
  background: var(--grey-000);
  right: 0;
  top: 38px;
  z-index: 1;
}

.cart__wrapper {
  border: 1px solid var(--grey-400);
  padding-bottom: 10px;
}

.cart__item {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 20px 105px 15px 20px;

  div {
    font-size: 13px;
    color: var(--grey-900);
    letter-spacing: 0.2px;
    min-width: 12ch;

    display: flex;
    flex-direction: column;
    gap: 10px;

    span {
      font-weight: 700;
      display: inline-block;
      padding-bottom: 4px;
    }
  }
}

.cart__size {
  font-size: 12px;
}
